@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Squada+One&display=swap');

body{
	font-family: 'Squada One', sans-serif;
	background-color: #FFF8ED;
	margin-left: auto;
	margin-right: auto;
}
.p3 {
	height: 350px;
	background-image: url(https://images.unsplash.com/photo-1505628346881-b72b27e84530?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
	background-position: center center;
	background-size: cover;
	margin-top: 30px;
	margin-bottom: 20px;
}

.p5 {
	background-image: url(https://images.unsplash.com/photo-1554692918-08fa0fdc9db3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	background-position: center center;
	background-size: cover;
	height: 450px;
	margin-bottom: 20px;
}

.p4 {
	background-image: url(https://images.unsplash.com/photo-1503256207526-0d5d80fa2f47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80);
	background-position: center center;
	background-size: cover;
	height: 450px;
	margin-bottom: 30px;
}


.p2 {
	height: 350px;
	background-image: url(https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
	background-size: cover;
	background-position: center center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.p1 {
	height: 350px;
	background-image: url(https://images.unsplash.com/photo-1551887373-3c5bd224f6e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
	background-position: center center;
	background-size: cover;
	margin-top: 30px;
	margin-bottom: 30px;
}

.container2 {
	background-color: #F9BF45;
	text-align: center;
	padding-top: 60px;
	padding-right: 60px;
	padding-bottom: 60px;
	padding-left: 60px;
	margin-left: auto;
	margin-right: auto;
	max-width: 77%;
	font-size: 72px;
	margin-top: 30px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	-webkit-box-shadow: 1px 1px 6px;
	box-shadow: 1px 1px 6px;
}

.p6 {
	background-image: url(https://images.unsplash.com/photo-1596490479153-68cd194d1aeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	background-position: center center;
	background-size: cover;
	height: 250px;
	margin-bottom: 30px;
}

.p7 {
	background-image: url(https://images.unsplash.com/photo-1530126483408-aa533e55bdb2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80);
	background-position: center center;
	background-size: cover;
	height: 300px;
	margin-bottom: 30px;
}

.p8 {
	background-image: url(https://images.unsplash.com/photo-1559190394-df5a28aab5c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
	background-position: center center;
	background-size: cover;
	height: 250px;
	margin-bottom: 30px;
}

.p9 {
	background-image: url(https://images.unsplash.com/photo-1521218597721-2e247daed5db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80);
	background-position: center center;
	background-size: cover;
	height: 210px;
	margin-bottom: 30px;
}


.p10 {
	background-image: url(https://images.unsplash.com/photo-1507682520764-93440a60e9b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80);
	background-position: center center;
	background-size: cover;
	height: 210px;
	margin-bottom: 30px;
}

.p11 {
	background-image: url(https://images.unsplash.com/photo-1587300003388-59208cc962cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
	background-position: center center;
	background-size: cover;
	height: 450px;
	margin-bottom: 30px;
}

.p12 {
	background-image: url(https://images.unsplash.com/photo-1594922009922-d1665ed9ce44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
	background-position: center center;
	background-size: cover;
	height: 250px;
	margin-bottom: 30px;
}

.p13 {
	background-image: url(https://images.unsplash.com/photo-1559648700-7dd0db27c823?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTl8fGJsYWNrJTIwZG9nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
	background-position: center center;
	background-size: cover;
	height: 300px;
	margin-bottom: 30px;
}

.p14 {
	background-image: url(https://images.unsplash.com/photo-1478029973231-f42d99fe5c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	background-position: center center;
	background-size: cover;
	height: 300px;
	margin-bottom: 30px;
}

.p15 {
	background-image: url(https://images.unsplash.com/photo-1450096315186-13dc369ab43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
	background-position: center center;
	background-size: cover;
	height: 500px;
	margin-bottom: 30px;
}

.p16 {
	background-image: url(https://images.unsplash.com/photo-1530281700549-e82e7bf110d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80);
	background-position: center center;
	background-size: cover;
	height: 500px;
	margin-bottom: 30px;
}

.p17 {
	background-image: url(https://images.unsplash.com/photo-1520638889638-ef2b9ad8c393?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
	background-position: center center;
	background-size: cover;
	height: 235px;
	margin-bottom: 30px;
}

.p18 {
	background-image: url(https://images.unsplash.com/photo-1555661059-7e755c1c3c1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);
	background-position: center center;
	background-size: cover;
	height: 235px;
	margin-bottom: 30px;
}

.p19 {
	background-image: url(https://images.unsplash.com/photo-1515952782260-36998d667f89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	background-position: center center;
	background-size: cover;
	height: 500px;
	margin-bottom: 30px;
}
